.barra{
    gap: 10cm;
}

.secciones{
    text-decoration: none;
    color: #1a1aff;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    font-family: 'Courier New', Courier, monospace;
}

.caja{
    display: inline-block;
  padding: 10px 25px;
  margin: 20px;
  background-color: #55ace7;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s;
  margin-left: 100px;
}

.contenedor{
    background-color: rgb(66, 66, 210);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenedor img{
    width: 500px;
}

h2{
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    margin-left: 20px;
}

.footer {
    margin-top: auto;
    text-align: left;
}

body{
    margin: 0;
}